:root {
  --clr-black: #000000;
  --clr-grey-5: #7E7C7C;
  --clr-grey-4: #D8D8D8;
  --clr-grey-3: #F6F6F6;
  --clr-grey-2: #6D6D6D;
  --clr-grey-1: #999999;
  --clr-white: #ffffff;
  --clr-pink: #FFE8E8;
  --clr-pink-2: #fcd8d8;
  --page-3-padding:58px;
  --page-3-margin:80px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Web {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  gap: 100px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

.regular_text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(36/18*100%);
  letter-spacing: 0.39px;
  color: var(--clr-grey-2);
}

.bold_text {
  font-weight: 700;
  font-size: 80px;
  line-height: calc(120/80*100%);
  color: var(--clr-grey-1);
}

.medium_text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 6.33px;
  color: var(--clr-black);
}

.flex_coloumn {
  display: flex;
  flex-direction: column;
}

/* 0-----------------------------------------header----------------------------------------------------- */

.Header_elements {
  position: absolute;
  top: 60px;
  left: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width:25%;
  gap:20px

}
.Header_element {
  text-align: center;
  z-index: 99;
}
.Header_element:hover{
  transition: all ease 200ms;
  color: var(--clr-grey-5);
  transform: scale(1.05);
}


/* 0-----------------------------------------header------------------------------------------end----------- */

/* 1-----------------------------------------page1----------------------------------------------------- */
.page_1 {
  width: 100%;
  position: relative;
}

.page_1_container {
  margin: 150px auto 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.page_1_box {
  max-width: 445px;
  gap: 15px;
  flex-shrink: 1;
}

.page_1_button {
  padding: 40px 48px;
  background-color: var(--clr-pink);
  letter-spacing: 8.3px;
  font-size: 24px;
  line-height: 133%;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 10px;
}

.page_1_button:hover{
  transition: all ease-out 300ms;
  transform: scale(1.05);
  background-color: var(--clr-pink-2);
}

.cov_img {
  position: absolute;
  width: 42%;
  height: 92%;
  top: 0;
  right: 5%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
}

@media (max-width:1016px) {
  .cov_img {
    right: 0;
  }
  .Header_elements{
    width: 30%;
    left: 28%;
  }
}

@media (max-width:816px) {
  .cov_img img{
    opacity: 0;
  }
  .page_1_container {
    align-items: center;
  }
  .Header_elements{
    left:70%;
    width:25%;
    top:40px;
    gap:10px;
  }
  .page_1_box_header{
    text-align: center;
  }
}

@media (max-width:500px) {
  .bold_text {
    font-size: 60px;
    text-align: center;
  }

  .page_1_box_text {
    font-size: 14px;
    text-align: center;
  }

  .page_1_button {
    margin-left: 0;
    padding: 25px 30px;
    font-size: 18px;
  }


}
@media (max-width:375px) {
  .Header_elements{
    gap: 10px;
  }
  .Header_element{
    font-size: 14px;
    letter-spacing: 5px;
  }
}


.cov_img::before {
  position: absolute;
  content: "";
  width: 170%;
  height: 100%;
  left: -70%;
  /* background-color: var(--clr-grey-3); */
  background-color: var(--clr-grey-3);
  z-index: -2;
}



/* 1-----------------------------------------page1----------------------------------------------------- */


/* 2-----------------------------------------page2----------------------------------------------------- */

.page_2_container{
  gap:52px;
}

.page_2_work_block{
  gap:60px;
}

.page_2_work_element{
  display: flex;
  justify-content: space-between;
  gap:50px;
}
.page_2_work_el_left {
  min-width:25%
}
.page_2_work_el_right {
  width: 100%;
}

@media (max-width:1000px) {
  .page_2_work_element{
    flex-direction: column;
  }
  .page_2_work_element > *{
    padding-left: 60px;
  }
}
@media (max-width:500px) {
  .page_2_work_element > *{
    padding-left: 20px;
  }

}

.page_2_work_el_left_Name{
  font-weight:500;
  color: var(--clr-grey-2);
  font-size: 30px;
  line-height: calc(33/30*100%);
  letter-spacing: 0.64px;
}

.page_2_work_el_left_Data{
  font-weight:500;
  color: var(--clr-grey-5);
  font-size: 18px;
  line-height: calc(36/15*100%);
  letter-spacing: 0.39px;
}

.page_2_work_el_right_Bubbles{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:16px;
  flex-wrap: wrap;
}
.page_2_work_el_right_Bubble{
  font-weight: 500;
  font-size: 12px;
  line-height: calc(33/12*100%);
  letter-spacing: 0.26px;
  color: var(--clr-grey-2);
  background-color: #EDEDED;
  padding: 1px 13px;
  border-radius: 16px;
}

.page_2_work_el_right_Bubble:hover{
  transform: scale(1.05);
  background-color: var(--clr-grey-2);
  transition: all ease 200ms;
  color: var(--clr-white);
}


/* 2-----------------------------------------page2----------------------------------------------------- */
/* 3-----------------------------------------page3----------------------------------------------------- */
.page_3_container {
  gap:52px;
}
.page_3_lists{
  width:100%;
  gap:120px;
}

.page_3_list_element{
  width:100%;
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--page-3-margin);
}

.page_3_list_element:nth-child(2n){
  flex-direction: row-reverse;
  padding-right: 0;
  padding-left: var(--padding);
}

.page_3_list_element:nth-child(2n) .page_3_list_element_right{
  align-items: flex-end;
}

.page_3_list_element:nth-child(2n) .page_3_list_element_right > *{
  text-align: end;
}
.page_3_list_element_right{
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap:34px;
  max-width:410px;
}
.page_3_list_right_header{
  font-size: 50px;
  letter-spacing: -0.26px;
}
.page_3_list_right_text{
  line-height: calc(33/18*100%);
}

.page_3_list_element_left img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (max-width:1000px) {
  :root{
    --page-3-margin:40px;
  }
}
@media (max-width:800px) {
  :root{
    --page-3-margin:15px;
  }
  .page_3_list_right_header{
    font-size: 40px;
    text-align: center !important;
  }
  .page_3_list_right_text{
    font-size: 14px;
  }
  .page_3_list_element_right{
    gap:17px;
  }
}
@media (max-width:600px) {
  .page_3_list_element{
    flex-wrap: wrap;
  }
  .page_3_list_element_right{
    max-width: 100%;
    align-items: center !important;
  }
  .page_3_list_right_text {
    text-align: start !important;
  }

}
/* 3-----------------------------------------page3----------------------------------------------------- */

/* 4-----------------------------------------page4----------------------------------------------------- */

.page_4_container > div:not(:last-child) {
  margin-bottom: 60px;
}
.page_4_container > div:nth-child(1) {
  margin-bottom: 36px;
}

.page_4_grid_info_box_element_text{
  color:var(--clr-black);
  opacity: 0.98;
  line-height: calc(27/18*100%);
}
.page_4_grid_info_box_element_title{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 6.33px;
  color:var(--clr-grey-5);
}

.page_4_grid{
  display: grid;
  grid-template-columns: 3fr 0.7fr 2fr 0.7fr;
  grid-template-rows:4rem 2rem 11rem 3rem 3rem 5rem;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.page_4_grid_img{
  grid-row: 1/4 ;
  grid-column: 1/5 ;
}
.page_4_grid_img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.page_4_grid_text{
  grid-row: 5/7;;
  grid-column: 1/2 ;
}

.page_4_grid_info_box_outer{
  grid-row: 3/6;;
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.page_4_grid_info_box_inner{
  gap:20px;
  background-color: var(--clr-pink);
  width:100%;
  padding: 20px 0 20px 40px;
  transform-origin: center;
  border-radius: 15px;
  transform: translateY(220px);
  transition: transform ease 500ms;
}
.page_4_grid_info_box_element_button{
  width:50%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-pink);
  position: absolute;
  bottom: 45%;
  left: 30%;
}
.page_4_grid_info_box_element_header{
  align-self: center;
  margin-left: -40px;
}

.page_4_grid_info_box_inner:hover{
  transform: translateY(0);
}

@media (max-width:920px) {
  .page_4_grid_info_box_inner{
    padding: 20px 0 20px 25px;
  }
  .page_4_grid_info_box_element_header{
    margin-left: -25px;
  }
  .page_4_grid_info_box_outer{
    grid-row: 3/6;;
    grid-column: 3/5;
  }
  .page_4_grid_text{
    font-size: 14px;
    line-height: 150%;
  }
  .page_4_grid{
    grid-template-rows:4rem 2rem 11rem 3rem 3rem 2rem;
  }  
}

@media (max-width:620px) {
  .page_4_grid_info_box_inner{
    padding: 20px 0 20px 15px;
  }
  .page_4_grid_info_box_element_header{
    margin-left: -15px;
  }
  .page_4_grid_info_box_outer{
    grid-row: 3/6;;
    grid-column: 2/5;
  }
  .page_4_grid_text{
    grid-row: 6/7;
    grid-column: 1/5;
    margin-top: 20px;
  }
  .page_4_grid{
    grid-template-rows:4rem 2rem 11rem 3rem 3rem 4rem;
  }  
}
@media (max-width:520px) {
  .page_4_grid_info_box_outer{
    grid-row: 3/6;;
    grid-column: 1/4;
  }

}
@media (max-width:750px) {
  .page_4_subtitle{
    font-size: 16px;
    line-height: 175%;
    text-align: center;
  }
}
@media (max-width:550px) {
  .page_4_subtitle{
    font-size: 14px;
    line-height: 150%;
    text-align:justify;
  }
}

/* 4-----------------------------------------page4----------------------------------------------------- */

/* 5-----------------------------------------footer----------------------------------------------------- */

.footer_container{
  align-items: center;
  margin: 40px auto;
  height: 100%;
}

.footer{
  background-color: var(--clr-grey-4);
}



/* 5-----------------------------------------footer----------------------------------------------------- */


